html, body, main {
    height: 100%;
}

body {
    padding: 3vmin;
    box-sizing: border-box;
}

main {
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3vmin;
}

main > :first-child {
    margin-top: auto;
}

main > :last-child {
    margin-bottom: auto;
}

p {
    min-height: 1ch;
}

#upload {
    position: absolute;
    top: 2vmin;
    right: 2vmin;
}

#result {
    width: 90%;
    background-color: rgb(240, 240, 240);
    padding: 1em;
    box-sizing: border-box;
}

#workers {
    --size: 8ch;
    --margin: 3ch;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(calc(var(--size) + var(--margin) * 2), 1fr));
    width: 90%;
    column-gap: 3vmin;
}

#workers > div {
    --percent: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-self: start;
    width: calc(var(--size) + var(--margin) * 2);
}

#workers > div > div {
    position: relative;
    width: var(--size);
    height: var(--size);
}

#workers > div > div > h1 {
    line-height: calc(var(--size) / 2);
    text-align: center;
    margin: 0;
    color: lightblue;
    mix-blend-mode: difference;
}

#workers > div > div > div {
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 100%;
    background-color: lightblue;
    color: white;
    width: var(--size);
    height: var(--size);
    clip-path: polygon(0 100%, 100% 100%, 100% calc(100% - var(--percent)), 0 calc(100% - var(--percent)));
    z-index: -1;
    transition: 0.2s;
}

#workers > div > p.name {
    text-align: center;
}