.drop {
    margin: 5vmin 5vw;
    width: 90vw;
    height: 10vmin;
    border: 2px solid lightblue;
    border-radius: 2vmin;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
    background-color: white;
}

.drop > input[type="file"] {
    display: none;
}

.drop:hover {
    background-color: lightblue;
    color: white;
    transition: 0.3s;
}

.drop::before {
    content: "";
    position: absolute;
    background-color: transparent;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
    transition: 0.2s;
    border-radius: inherit;
}

.drop:hover::before {
    top: 0.3em;
    left: 0.3em;
    background-color: black;
    transition: 0.2s;
}

code {
    width: 90vw;
    margin: 0 5vw;
    box-sizing: border-box;
}