html, body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3vmin;
}

input {
    width: 20ch;
}

p {
    height: 0ch;
}

label {
    margin-bottom: -2vmin;
}